---
import logoLight from '~/assets/images/logo-runbook.png';
import logoDark from '~/assets/images/logo-runbook-darkmode.png';
---

<span class="self-center">
  <img src={logoLight.src} alt="Runbook Solutions" class="h-10 block dark:hidden" width="300" height="60" />
  <img src={logoDark.src} alt="Runbook Solutions" class="h-10 hidden dark:block" width="300" height="60" />
</span>
